.portfolio {
    &,
    &--body {
        position: relative;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        padding: 0;
        margin: 0;
        background-color: $background-color;
    }
    .cover-buttons {
        position: relative;
        width: 100%;
        height: 100vh;
        margin: 0;
        padding: 0;
    }
    .cta-cover {
        z-index: 2;

        &--ui {
            bottom: 0;
            right: 0;

            &:before {
                bottom: -60vh;
                right: -25vh;
                transform: rotate(45deg);
                background-color: $main-color;
            }
        }
    }
    &--ui,
    &--ux {
        .cover-buttons {
            z-index: 0;
        }

        .poe {
            &--red,
            &--blue,
            &--color {
                transition: all .35s ease-in-out;
            }
            &--red,
            &--blue {
                opacity: 0;
            }
        }
        .page-content {
            .page-back {    
                .fas {
                    position: relative;
                    top: 0;
                    left: 0;
                    opacity: 1;
                    transform: scale(1) rotate(0) translate(0);
                    transition: $transition-default;
                }
            }
        }
    }
    &--ui {
        .poe {
            &--color {
                right: -7rem;
                bottom: -3rem;
                width: 110vh;
                margin-right: 0;
                opacity: 1;
            }
        }
        .cta-cover {
            &--ux {
                top: -100vh;
                left: 0;
                opacity: 0;
                transition: all .35s ease-in-out;

                &:before {
                    top: -60vh;
                    left: -25vh;
                    opacity: 0;
                    transform: rotate(-90deg);
                    transition: all .35s ease-in-out;
                }
            }
            &--ui {
                bottom: 100vh;
                right: 0;
    
                &:before {
                    bottom: -10vh;
                    right: -40vh;
                    transform: rotate(0deg);
                    transition: all .35s ease-in-out;
                }
            }
        }
        .page-content {
            &--ux {
                opacity: 0;
                transform: scale(0);
                transition: $transition-default;
            }
            &--ui {
                opacity: 1;
                transform: scale(1);
                transition: $transition-default;
            }
        }
    }
    &--ux {
        .poe {
            &--lines {
                right: -7rem;
                bottom: -10rem;
                width: 105vh;
                margin-right: 0;
                opacity: .5;
            }
        }
        .cta-cover {
            &--ui {
                height: 0;
                top: -100vh;
                left: 0;
                opacity: 0;
                transition: all .35s ease-in-out;

                &:hover,
                &:focus {
                    opacity: 0;
                }

                &:before {
                    top: -60vh;
                    left: -25vh;
                    opacity: 0;
                    transform: rotate(-90deg);
                    transition: all .35s ease-in-out;
                }
            }
            &--ux {
                top: -30vh;
                right: 0;
                left: calc(100vw - 40vh);
    
                &:before {
                    bottom: -10vh;
                    right: -40vh;
                    transform: rotate(0deg);
                    transition: all .35s ease-in-out;
                }
                span {
                    opacity: 0;
                }
            }
        }
        .page-content {
            &--ux {
                opacity: 1;
                transform: scale(1);
                transition: $transition-default;
            }
            &--ui {
                opacity: 0;
                transform: scale(0);
                transition: $transition-default;
            }
        }
    }
}
.cta-cover {
    display: block;
    position: absolute;
    z-index: 1;
    font-weight: 700;
    font-size: 13em;
    color: $background-color;
    cursor: default !important;
    opacity: .9;
    transition: all .35s ease-in-out;

    &,
    &:hover,
    &:focus,
    &:active {
        border: 0;
        box-shadow: none;
        background-color: transparent;
        outline: none;
    }
    &:hover,
    &:focus {
        text-decoration: none;
        color: $background-color;
        opacity: 1;
        transition: all .35s ease-in-out;
    }
    &:before {
        content: "";
        position: absolute;
        display: block;
        width: 100vh;
        height: 100vh;
        background-color: darken($background-color, 10%);
        opacity: .9;
        transition: all .35s ease-in-out;
        cursor: pointer;
    }
    span {
        position: relative;
        display: block;
        width: 60vh;
        text-align: center;
        cursor: pointer;
    }
    &--ux {
        top: 0;
        left: 0;
        opacity: 1;
        transition: all .35s ease-in-out;

        &:before {
            top: -60vh;
            left: -25vh;
            transform: rotate(-45deg);
            opacity: .9;
            background-color: $primary-color;
            transition: all .35s ease-in-out;
        }
    }
    &--ui {
        bottom: 0;
        right: 0;

        &:before {
            bottom: -60vh;
            right: -25vh;
            transform: rotate(45deg);
            background-color: $main-color;
            opacity: .9;
            transition: all .35s ease-in-out;
        }
    }
}
.poe {
    position: absolute;
    bottom: -20vh;
    width: 90vh;
    height: auto;
    margin: 0 auto;
    left: 0;
    right: 0;
    opacity: .7;
    transition: all .35s ease-in-out;

    &--red,
    &--blue,
    &--color {
        left: 0;
        right: 0;
        transition: all .35s ease-in-out;
    }
    &--red {
        left: -1em;
    }
    &--blue,
    &--color {
        left: 1em;
    }
    &--color,
    &--lines {
        bottom: -3vh;
        left: auto;
        right: calc(50vw - (90vh / 2));
        opacity: 0;
        margin-right: 0;
        margin-left: 0;
    }
    &--lines {
        opacity: 0;
        bottom: -20vh;
    }
}

.page-content {
    position: absolute;
    top: 0;
    left: 0;
    z-index: $z-second;
    opacity: 0;
    box-sizing: border-box;
    width: 50vw;
    height: 100vh;
    padding: 2rem 4rem;
    transform: scale(0);
    transition: $transition-default;

    .page-back {
        position: relative;
        font-size: 4rem;
        display: inline-block;

        .fas {
            position: relative;
            top: -45vh;
            left: -45vh;
            opacity: 0;
            transform: scale(10) rotate(90deg) translate(-20vh);
            transition: $transition-default;
        }
    }
    .title {
        line-height: .9;
        font-size: 6.5rem;
        font-weight: 700;
        text-transform: uppercase;

        b {
            font-size: 2em;
            font-weight: 700;
        }
    }
    .go-to-other {
        overflow: hidden;
        display: inline-block;
        width: 4rem;
        height: 4rem;
        border-radius: 100%;
        text-indent: -100vw;
        background-color: $base-dark;
    }
    &__header {
        display: block;
    }
    &__list {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 2rem 4rem;

        ul {
            font-size: 2em;

            > li {
                margin-bottom: .5em;
            }
        }
        a {
            position: relative;
            display: inline-block;
            line-height: 1;
            color: $primary-color;
            font-weight: 200;

            strong {
                font-weight: 700;
            }
            span {
                position: relative;
                z-index: 0;
                display: inline-block;
            }
            &:after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: -1;
                display: block;
                width: 0;
                height: .75em;
                background-color: $base-dark;
                opacity: 0;
                transition: $transition-default;
            }
            &:hover,
            &:focus {
                text-decoration: none;
                
                &:after {
                    width: 100%;
                    opacity: .75;
                    transition: $transition-default;
                }
            }
        }
    }
    &--ux {
        .page-back {
            color: $main-color;
        }
        .title {
            color: $primary-color;
        }
        .go-to-other {
            background-color: $main-color;
        }
        a {
            color: $main-color;

            &:after {
                background-color: $yellow-mother;// $primary-color;
            }
        }
    }
    &--ui {
        .page-back {
            color: $primary-color;
        }
        .title {
            color: $main-color;
        }
        .go-to-other {
            background-color: $primary-color;
        }
        a {
            color: $primary-color;

            &:after {
                background-color: $yellow-mother;// $main-color;
            }
        }
    }
}