<div class="service text-center">
  <div class="service__item">
    <span class="service__icon animated {{icon}}"></span>
    <div class="row">
      <div class="col-md-8 offset-md-2 col-sm-12 col-xs-12 align-self-center">
        <h5 class="service__title">{{title}}</h5>
        <p class="content__text--light">{{description}}</p>
      </div>
    </div>
  </div>
</div>