<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#home" arial-label="Ir para o Início do Site" tabindex="0">
    <img class="navbar-brand__image" src="/img/bonsai--logo--horizontal.jpg" alt="Logo Bonsai UX">
    <img class="navbar-brand__image navbar-brand__image--sm" src="/img/bonsai--logo--horizontal.jpg" alt="Logo Bonsai UX Mini">
  </a>
  <button class="navbar-toggler" type="button" aria-controls="menuMain" aria-expanded="false" aria-label="Abrir Menu Principal">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse" id="menuMain">
    <ul class="navbar-nav ml-auto mt-lg-0">
      <li class="nav-item" id="home-link">
        <a class="nav-link" href="#home" aria-label="Ir para Início do Site">Home</a>
      </li>
      <li class="nav-item" id="about-link">
        <a class="nav-link" href="#about" aria-label="Sobre a Bonsai UX">Sobre</a>
      </li>
      {{!-- <li class="nav-item" id="contact-link">
        <a class="nav-link" href="#contact" aria-label="Entre em Contato">Contato</a>
      </li> --}}
      <li class="nav-item" id="blog-link">
        <a class="nav-link" href="//blog.bonsaiux.com.br" aria-label="Blog da Bonsai">Blog</a>
      </li>
    </ul>
  </div>
</nav>