<!DOCTYPE html>
<html lang="pt-br">
  <head>
    {{> head-metatags
          canonical="https://poebellentani.me/"
          title="Poe Bellentani, UX/UI Design & Developer"
          description="Geek, nerd, always amazed with the Internet possibilities, interface addicted (mobile to games, software to hardware, RL to Matrix) and a believer who wants learn more and more things through books and root websites (like W3C, O'Reilly books, Codeschool, Lynda.com and a lot of online sources)"
          keywords="UX consultant, UI design, Design, UX consultoria, User Experience, Consultoria, Frontend Developer"
          title-facebook="Poe Bellentani: UX/UI Designer & Frontend Developer"
          image-itemprop="https://poebellentani.me/img/poebellentani.jpg"
          image-facebook="https://poebellentani.me/img/og-image.jpg"
          image-twitter="https://poebellentani.me/img/twitter-image.jpg"
          author-url-facebook="https://www.facebook.com/poebellentani"
          author-name="Poe Bellentani"
          publisher-url-facebook="https://www.facebook.com/poebellentani"
    }}
    {{> head-scripts }}
  </head>
  <body class="landing">
    {{> body-scripts }} {{!-- Não usar para nada que não seja o Tagmanager --}}
    <main>
      <a id="home" href="javascript.void(0)" class="main-anchor" aria-label="Início do Site"></a>

      <h1>Poe Bellentani</h1>
      <p>UX/UI Designer & Frontend Developer</p>
      <ul>
        <li><small><a href="https://www.linkedin.com/in/bellentani/" target="_blank"><i class="fab fa-linkedin-in"></i> linkedin.com/in/bellentani/</a></small></li>
        <li><small><a href="https://xd.adobe.com/view/d35d6a12-d577-43ee-7033-d3d89be95f2a-a56c/?fullscreen" target="_blank"><i class="fas fa-palette"></i> Portfolio (made in Adobe XD)</a></small></li>
        <li><small><a href="/portfolio.html" target="_blank"><i class="fas fa-code"></i> Portfolio (coded, HTML - Work in Progress)</a></small></li>
        <li><small><a href="https://github.com/bellentani" target="_blank"><i class="fab fa-github"></i> Github</a></small></li>
        <li><small><a href="mailto:hello@poebellentani.me"><i class="fas fa-envelope"></i> hello@poebellentani.me</a></small></li>
      </ul>
    </main>
    {{> footer-scripts }}
  </body>
</html>
