<!DOCTYPE html>
<html lang="pt-br">
  <head>
    {{> head-metatags
          canonical="https://poebellentani.me/"
          title="Poe Bellentani, UX/UI Design & Developer"
          description="Geek, nerd, always amazed with the Internet possibilities, interface addicted (mobile to games, software to hardware, RL to Matrix) and a believer who wants learn more and more things through books and root websites (like W3C, O'Reilly books, Codeschool, Lynda.com and a lot of online sources)"
          keywords="UX consultant, UI design, Design, UX consultoria, User Experience, Consultoria, Frontend Developer"
          title-facebook="Poe Bellentani: UX/UI Designer & Frontend Developer"
          image-itemprop="https://poebellentani.me/img/poebellentani.jpg"
          image-facebook="https://poebellentani.me/img/og-image.jpg"
          image-twitter="https://poebellentani.me/img/twitter-image.jpg"
          author-url-facebook="https://www.facebook.com/poebellentani"
          author-name="Poe Bellentani"
          publisher-url-facebook="https://www.facebook.com/poebellentani"
    }}
    {{> head-scripts }}
  </head>
  <body class="portfolio">
    {{> body-scripts }} {{!-- Não usar para nada que não seja o Tagmanager --}}
    <main class="portfolio__body">
      <a id="home" href="javascript.void(0)" class="main-anchor" aria-label="Início do Site"></a>

      <ul class="cover-buttons list-unstyled">
        <li>
          <a href="#ux" class="cta-cover cta-cover--ux" data-toggle-mod="ux">
            <span>UX</span>
          </a>
        </li>
        <li>
          <a href="#ui" class="cta-cover cta-cover--ui" data-toggle-mod="ui">
            <span>UI</span>
          </a>
        </li>
      </ul>

      <div class="page-content page-content--ux">
        <span class="page-content__header">
          <a href="#" data-toggle-mod="close" class="page-back"><i class="fas fa-arrow-left"></i></a>
          <h2 class="title">
            Portfolio <b>UX</b>
            <a href="#ui" data-toggle-mod="ui" class="go-to-other">UI</a>
          </h2>
        </span>
        <div class="page-content__list">
          <ul class="list-unstyled">
            <li>
              <a href="portfolio-ux-innovatech.html">
                <span>
                  <strong>UX #1:</strong> Innovatech
                </span>
              </a>
            </li>
            {{!-- <li>
              <a href="portfolio-model.html">
                <span>
                  <strong>UX #2:</strong> Outro Nome de Case
                </span>
              </a>
            </li> --}}
          </ul>
        </div>
      </div>
      <div class="page-content page-content--ui">
        <span class="page-content__header">
          <a href="#" data-toggle-mod="close" class="page-back"><i class="fas fa-arrow-left"></i></a>
          <h2 class="title">
            Portfolio <b>UI</b>
            <a href="#ux" data-toggle-mod="ux" class="go-to-other">UX</a>
          </h2>
        </span>
        <div class="page-content__list">
          <ul class="list-unstyled">
            <li>
              <a href="portfolio-ui-ryd.html">
                <span>
                  <strong>UI #1:</strong> RYD Agro
                </span>
              </a>
            </li>
            {{!-- <li>
              <a href="portfolio-model.html">
                <span>
                  <strong>UI #2:</strong> Outro case de UI
                </span>
              </a>
            </li> --}}
          </ul>
        </div>
      </div>

      <img src="/img/poe-lines-red.svg" alt="Poe Bellentani Red" class="poe poe--red">
      <img src="/img/poe-lines-blue.svg" alt="Poe Bellentani Blue" class="poe poe--blue">
      <img src="/img/poe-lines-gray.svg" alt="Poe Bellentani Blue" class="poe poe--lines">
      <div class="poe poe--color">
        <div class="oculos-lentes">
          <video id="video" autoplay="autoplay" muted="muted" preload="auto" loop="loop">
            <source src="/video/04.mp4" type="video/mp4">
            {{!-- <source src="http://mazwai.com/system/posts/videos/000/000/123/webm/victor_ciurus--5d_mark_iii_magic_lantern_14_bits_raw_video.webm?1412890624" type="video/webm"> --}}
          </video>
          <img src="/img/poe-color.svg" alt="Poe Bellentani Blue">
        </div>
      </div>
    </main>
    {{> footer-scripts }}
  </body>
</html>
