<!DOCTYPE html>
<html lang="pt-br">
  <head>
    {{> head-metatags
          canonical="https://poebellentani.me/"
          title="Poe Bellentani, UX/UI Design & Developer"
          description="Geek, nerd, always amazed with the Internet possibilities, interface addicted (mobile to games, software to hardware, RL to Matrix) and a believer who wants learn more and more things through books and root websites (like W3C, O'Reilly books, Codeschool, Lynda.com and a lot of online sources)"
          keywords="UX consultant, UI design, Design, UX consultoria, User Experience, Consultoria, Frontend Developer"
          title-facebook="Poe Bellentani: UX/UI Designer & Frontend Developer"
          image-itemprop="https://poebellentani.me/img/poebellentani.jpg"
          image-facebook="https://poebellentani.me/img/og-image.jpg"
          image-twitter="https://poebellentani.me/img/twitter-image.jpg"
          author-url-facebook="https://www.facebook.com/poebellentani"
          author-name="Poe Bellentani"
          publisher-url-facebook="https://www.facebook.com/poebellentani"
    }}
    {{> head-scripts }}
  </head>
  <body class="portfolio">
    <main>
      <a id="home" href="javascript.void(0)" class="main-anchor" aria-label="Início do Site"></a>
      {{> body-scripts }} {{!-- Não usar para nada que não seja o Tagmanager --}}

      <ul class="list-unstyled">
        <li>
          <button href="" class="cta-cover cta-cover--ux">
            <span>UX</span>
          </button>
        </li>
        <li>
          <button href="" class="cta-cover cta-cover--ui">
            <span>UI</span>
          </button>
        </li>
      </ul>

      <img src="/img/poe-lines-red.svg" alt="Poe Bellentani Red" class="poe poe--red">
      <img src="/img/poe-lines-blue.svg" alt="Poe Bellentani Blue" class="poe poe--blue">
      <img src="/img/poe-color.svg" alt="Poe Bellentani Blue" class="poe poe--color">
    </main>
    {{> footer-scripts }}
  </body>
</html>
