<div class="content" id="how-we-work">
  <div class="container">
    <div class="content__container">
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-12">
              <h2 class="content__title">
                Como nós <span class="content__title--secondary">trabalhamos</span>
              </h2>
            </div>
            <div class="col-sm-6 col-12">
              <p class="content__text content__text--light">
                Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a,
                convallis ac, laoreet enim. Phasellus fermentum in, dolor. Pellentesque facilisis.
                Nulla imperdiet sit amet magna. Vestibulum dapibus, mauris nec malesuada fames ac turpis
                velit, rhoncus eu, luctus et interdum adipiscing wisi
              </p>
            </div>
            <div class="col-sm-6 col-12">
              <p class="content__text content__text--light">
                Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a,
                convallis ac, laoreet enim. Phasellus fermentum in, dolor. Pellentesque facilisis.
                Nulla imperdiet sit amet magna. Vestibulum dapibus, mauris nec malesuada fames ac turpis
                velit, rhoncus eu, luctus et interdum adipiscing wisi
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>