<footer class="footer">
  <div class="footer__footer">
    <div class="container">
      <div class="footer__copyright-notice">
        &copy; 2019 Bonsai UX - Todos os direitos reservados.
        <small>↑ ↑ ↓ ↓ ← → ← → B A</small>
      </div>
    </div>
  </div>  
</footer>
<div class="easter-egg inky">
  <div class ="easter-egg__body">
    <svg>
      <polygon  points="0 24, 4 24, 4 12, 8 12, 8 8, 12 8, 12 4, 20 4, 20 0, 36 0, 36 4, 44 4, 44 8, 48 8, 48 12, 52 12, 52 24, 56 24, 56 48, 0 48 "/>
    </svg>
  </div>
  <div class="easter-egg__eye--left">
    <svg>
      <polygon points="4 0, 12 0, 12 4, 16 4, 16 16, 12 16, 12 20, 4 20, 4 16, 0 16, 0 4, 4 4 "/>
    </svg>
  </div>
  <div class="easter-egg__eye--right">
    <svg>
      <polygon points="4 0, 12 0, 12 4, 16 4, 16 16, 12 16, 12 20, 4 20, 4 16, 0 16, 0 4, 4 4 "/>
    </svg>
  </div>
  <div class="easter-egg__feet"></div>
<div>