<div data-section="team" class="content">
  <div class="container">
    <div class="content__container">
      <div class="row">
        <div class="col-12">
          <h2 class="content__title content__title--big text-center">Nosso time</h3>
        </div>
        <div class="col-12">
          <h3 class="content__title content__title--secondary content__title--small text-center">
            A equipe Bonsai trabalha sempre buscando atender da melhor forma possível clientes e
            usuários finais dos seus produtos, mirando sempre a excelencia
          </h3>
        </div>
        <div class="col-sm-6 col-lg-4 col-12">
          {{> mol-team-member
              photo="samples/team-member-1.jpg"
              name="Poe Bellentani"
              function="CEO, UX Designer and UI Developer"
              bio="Sou um geek, hipster e workaholic que gosta de RPG"}}
        </div>
        <div class="col-sm-6 col-lg-4 col-12">
          {{> mol-team-member
              photo="samples/team-member-2.jpg"
              name="Luiz Miguel"
              function="UX Designer"
              bio="Moreno, alto, bonito, good vibes, dançarino e youtuber de tecnologia"}}
        </div>
        <div class="col-sm-6 col-lg-4 col-12">
          {{> mol-team-member
              photo="samples/team-member-3.jpg"
              name="Matheus Luiz"
              function="UI Developer"
              bio="Fissurado por jogos e desenvolvimento de jogos. Recém convertido muçulmano"}}
        </div>
        <div class="col-sm-6 col-lg-4 col-12">
          {{> mol-team-member
              photo="samples/team-member-3.jpg"
              name="Beatriz Delmont"
              function="Internee"
              bio="Gerente linha dura e quase uma caçadora de vampiros (por uma letra)"}}
        </div>
        <div class="col-sm-6 col-lg-4 col-12">
          {{> mol-team-member
              photo="samples/team-member-2.jpg"
              name="Guilherme Monteiro"
              function="UI Developer"
              bio="Socially awkward, mas gente boa pra caralho"}}
        </div>
        <div class="col-sm-6 col-lg-4 col-12">
          {{> mol-team-member
              photo="samples/team-member-1.jpg"
              name="Rafael Sanches"
              function="Front-end Developer"
              bio="Criminal mastermind, atendia pelo codinome de \"Professor\""}}
        </div>
      </div>
    </div>
  </div>
</div>