<div class="section-clients" id="clients" data-section="clients">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <h2 class="title">Nossos clientes</h2>
            </div>
            <div class="col-6 col-md-3">
                <figure class="brand animated">
                    <img src="/img/logos/clientes-site-fit.png" alt="Fit">
                </figure>
            </div>
            <div class="col-6 col-md-3">
                <figure class="brand animated">
                    <img src="/img/logos/clientes-site-ihara.png" alt="IHARA">
                </figure>
            </div>
            <div class="col-6 col-md-3">
                <figure class="brand animated">
                    <img src="/img/logos/clientes-site-innovatech.png" alt="Innovatech">
                </figure>
            </div>
            <div class="col-6 col-md-3">
                <figure class="brand animated">
                    <img src="/img/logos/clientes-site-ryd.png" alt="RYD Agro">
                </figure>
            </div>
            <div class="col-6 col-md-3">
                <figure class="brand animated">
                    <img src="/img/logos/clientes-site-slt.png" alt="SLT Labs">
                </figure>
            </div>
            <div class="col-6 col-md-3">
                <figure class="brand animated">
                    <img src="/img/logos/clientes-site-stattus4.png" alt="Stattus4">
                </figure>
            </div>
        </div>
    </div>
</div>