<div data-section="services" class="section-service" id="services">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="title text-center">Nossos serviços</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="service-list col-lg-4 col-md-4 col-sm-12 col-xs-12">
        {{> mol-service
            icon="fas fa-user-astronaut"
            title="Consultoria em UX"
            description="Testes de usuário, identificação de personas, pesquisas qualitativas, prototipagem e mapamento da jornada do usuário."
        }}
      </div>
      <div class="service-list col-lg-4 col-md-4 col-sm-12 col-xs-12">
        {{> mol-service
            icon="fas fa-brain"
            title="Design de Interface"
            description="Especializada em design centrado no usuário e no resultado, bem como sua aplicabilidade para redução de impactos no desenvolvimento."
        }}
      </div>
      <div class="service-list col-lg-4 col-md-4 col-sm-12 col-xs-12">
        {{> mol-service
            icon="fas fa-laptop-code"
            title="Desenvolvimento de Software"
            description="Especialista em Javascript, para front e backend. Somos fullstack, utilizamos do JS Vanilla aos frameworks mais populares (Angular, React e Vue)."
        }}
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="service-list col-md-4 col-sm-6 col-xs-12">
        {{> mol-service
            icon="fas fa-rocket"
            title="Inovação e Startups"
            description="Ajudamos empresas a entender padrões em seus negócios para o desenvolvimento de soluções que otimizam e potencializam receita."
        }}
      </div>
      <div class="service-list col-md-4 col-sm-6 col-xs-12">
        {{> mol-service
            icon="fas fa-mobile-alt"
            title="Aplicativos Mobile e Desktop"
            description="Criamos aplicativos híbridos e nativos para validação de conceitos ou prontos para produção - fazemos a sua ideia sair do papel."
        }}
      </div>
    </div>
  </div>
</div>